.cartmodal-container {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  flex-direction: column;
  align-items: center;
  box-shadow: rgba(100, 100, 111, 0.3) 0px 7px 29px 0px;
  background-color: whitesmoke;
  border-radius: 12px;
  position: fixed;
  width: 300px;
  height: 375px;
  /* top, left , right , bottom etc. */
  top: 215px;
  right: 260px;
}

.cartmodal-close {
  padding: 0;
  height: 0;
  width: 0;
  align-self: flex-end;
  position: absolute;
  top: 20px;
  right: 40px;
  background: none;
  color: red;
  font-size: 2.0em;
  border: none;
  cursor: pointer;
}

.modal-point {
  position: fixed;
  height: 50px;
  width: 50px;
  background-color: whitesmoke;
  top: 195px;
  right: 392px;
  transform: rotate(45deg);
}

.cartmodal-link {
  color: white;
  padding: 5px 10px;
  border-radius: 12px;
  font-size: 1.2em;
  text-decoration: none;
  border: none;
  background-color: red;
  cursor: pointer;
  margin: 10px;
}

.modal-data {
  overflow: scroll;
}

.modal-data-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-radius: 12px;
  padding: 10px;
  margin: 10px;
  background-color: white;
  box-shadow: 0px 1px 4px grey;
}

.modal-data-items {
  font-size: 1.0em;
  color: black;
  padding: 5px;
  margin: 0 5px;
}