.cart-container {
  background-color: whitesmoke;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-self: space-around;
  flex-wrap: wrap;
  width: 70%;
  padding: 20px;
  margin: 10px auto;
}

.cart-items {
  padding: 10px;
  text-align: center;
}

.cart-items-desc {
  text-align: left;
}

.item-images {
  height: 150px;
}