.cartmodal-container {
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  align-items: center;
  box-shadow: rgba(100, 100, 111, 0.3) 0px 7px 29px 0px;
  background-color: whitesmoke;
  border-radius: 12px 0 12px 12px;
  position: absolute;
  width: 300px;
  height: 375px;
  /* top, left , right , bottom etc. */
  top: 230px;
  right: 300px;
}

.cartmodal-close {
  padding: 0;
  height: 30px;
  width: 30px;
  position: relative;
  bottom: 30px;
  align-self: flex-end;
  background: none;
  color: red;
  font-size: 2.0em;
  border: none;
  cursor: pointer;
  background-color: whitesmoke;
  border-radius: 12px 12px 0 0;
}

.gotocart-link {
  text-decoration: none;
  color: white;
}

.modal-data {
  overflow: scroll;
}

.modal-data::-webkit-scrollbar,
.modal-data::-webkit-scrollbar-corner {
  backdrop-filter: blur(5px);
}

.modal-data::-webkit-scrollbar-thumb {
  background-color: black;
  border-radius: 12px;
}

.modal-data-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-radius: 12px;
  padding: 10px;
  margin: 10px;
  background-color: white;
  box-shadow: 0px 1px 4px grey;
}

.modal-data-items {
  font-size: 1.0em;
  color: black;
  padding: 5px;
  margin: 0 5px;
}

@media only screen and (max-width:1280px) {
  .cartmodal-container {
    position: fixed;
    top: 100;
    right: 0;
    margin: 10px;
  }
}