@import url('https://fonts.googleapis.com/css2?family=Bubblegum+Sans&display=swap');

.cart-background {
    background: url("/src/images/pexels-furknsaglam-3109671.jpg");
    background-position: center;
    background-size:cover;
    height:auto;
    min-height:100vh;
    text-align:center;
    padding-bottom:5%;
}
.cart-window {
    width: 80%;
    background-color: whitesmoke;
    margin: 0 auto;
    padding:30px 0;
    list-style-type: none;
    height: 65vh;
    overflow: scroll;
}
.cart-logo {
    color:white;
    font-size:100px;
    text-shadow:black 2px 5px 2px;
    font-family: 'Bubblegum sans', cursive;
    padding:30px;
}

.cart-header {
    background-color:whitesmoke;
    width:50%;
    margin:0 auto;
    padding:10px 0;
    border-radius:20px 20px 0 0;
    text-decoration:underline;
    text-decoration-color:red;
}

.return-link {
    text-decoration: none;
    color:white;
}

.return-link:active {
    color:white;
}

@media only screen and (max-width:350px), (max-width:450px) {
    .cart-logo {
        font-size:70px;
    }
    .cart-background {
        padding-bottom:2%;
    }
}
@media only screen and (max-width:1028px) and (min-width:1020px) {
    .cart-logo {
        font-size:70px;
    }
    .cart-background {
        padding-bottom:2%;
    }
}