.cart-container {
  background-color: whitesmoke;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 80%;
  padding: 20px;
  margin: 10px auto;
  flex-direction: row;
}

.cart-items {
  text-align: center;
}

.cart-items-desc {
  text-align: left;
  padding: 20px;
}

.cart-items,
.cart-items-desc {
  font-size: 1.2em;
}

.item-images {
  height: 140px;
}

@media only screen and (max-width:1280px) {
  .cart-items-desc {
    padding: 0;
  }
}