.checkout-container {
  background-color: whitesmoke;
  border-radius: 10px;
  display: flex;
  flex-wrap: wrap;
  width: 70%;
  padding: 10px;
  margin: 10px auto;
}

.checkout-items {
  padding: 10px;
  width: 100%;
  text-align: center;
  align-items: center;
}

.detail-image {
  height: 100px;
}