@import url('https://fonts.googleapis.com/css2?family=Bubblegum+Sans&display=swap');

.checkout-background {
  display: flex;
  justify-content: center;
  align-items: center;
  background: url("/src/assets/pexels-furknsaglam-3109671.jpg");
  background-position: center;
  background-size: cover;
  height: auto;
  min-height: 100vh;
  text-align: center;
  flex-direction: column;
}

.checkout-window {
  width: 70%;
  list-style-type: none;
  height: 70vh;
  overflow: scroll;
}

.checkout-window::-webkit-scrollbar,
.checkout-window::-webkit-scrollbar-corner {
  backdrop-filter: blur(5px);
}

.checkout-window::-webkit-scrollbar-thumb {
  background-color: black;
  border-radius: 12px;
}

.cart-section {
  display: flex;
  margin: 0 0 35px 0;
  width: 60%;
  flex-direction: row;
  justify-content: left;
}

.cart-link {
  text-decoration: none;
  color: white;
}

.checkout-menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.checkout-fields {
  width: 80%;
}

.checkout-list {
  margin: 10px;
  width: 50%;
}

.checkout-header {
  font-family: 'Bubblegum Sans', sans-serif;
  width: 75%;
  color: white;
  text-decoration: underline;
  text-decoration-color: red;
  font-size: 2.0em;
  background-color: black;
  padding: 15px 35px;

}

.checkout-values-header-container {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.checkout-values-header {
  color: white;
  text-decoration: underline;
  text-decoration-color: red;
  font-family: 'Bubblegum Sans', sans-serif;
  margin: 0 0 25px 0;
}

.checkout-values {
  height: 100vh;
  min-height: 50vh;
  text-align: center;
  padding: 25px 0;
  overflow: scroll;
  border: 1px solid black;
  border-radius: 12px;
}

.checkout-values::-webkit-scrollbar,
.checkout-values::-webkit-scrollbar-corner {
  backdrop-filter: blur(5px);
}

.checkout-values::-webkit-scrollbar-thumb {
  background-color: black;
  border-radius: 12px;
}

.checkout-total-section {
  margin: 15px;
}

.checkout-total {
  font-size: 1.7em;
  font-family: 'Bubblegum Sans', sans-serif;
  margin-top: 50px;
}

.expiration-date {
  display: flex;
  flex-direction: row;
  width: 80%;
  justify-content: space-between;
  margin: 0 auto;
}

.expiration-slash {
  font-size: 3.0em;
}

@media only screen and (max-width:350px),
(max-width:450px) {
  .checkout-background {
    padding-bottom: 2%;
  }
}

@media only screen and (max-width:1028px) and (min-width:1020px) {
  .checkout-background {
    padding-bottom: 2%;
  }
}