.ff-wrapper {
    display:grid;
    grid-template-columns:50% 50%;
    grid-template-rows:100%;
    grid-template-areas:
    "company items";
}

.active {
    text-decoration:underline;
}
.active:hover {
    cursor:pointer;
    text-decoration-color:red;
}

.a {
    grid-area:company;
}

.b {
    grid-area:items;
}