.ff-wrapper {
    display:grid;
    grid-template-columns:50% 50%;
    grid-template-rows:100%;
    grid-template-areas:
    "company info";
}

.sub-grid {
    display:grid;
    grid-template-columns:35% 32% 32%;
    grid-template-rows:100%;
    grid-template-areas:
    "items prices checked";
}

.b-food {
    grid-area:items
}

.b-prices {
    grid-area:prices;
}

.b-checked {
    grid-area:checked;
}

.button:hover {
    cursor:pointer;
}

.a {
    grid-area:company;
    border-right:1px solid grey;

}

.b {
    grid-area:info;
    list-style-type:none;
    text-align:left;
    margin-left:10%;
}

@media only screen and (max-width:350px), (max-width:450px) {
    .ff-wrapper {
        display:block;
    }
}
@media only screen and (max-width:1028px) and (min-width:1020px) {
    .ff-wrapper {
        display:block;
    }
}