.ff-wrapper {
    display:grid;
    grid-template-columns:50% 50%;
    grid-template-rows:100%;
    grid-template-areas:
    "company items";
}

.button:hover {
    cursor:pointer;
}

.a {
    grid-area:company;
    border-right:1px solid grey;
}

.b {
    grid-area:items;
    list-style-type:none;
    text-align:left;
    margin-left:10%;
}

@media only screen and (max-width:350px), (max-width:450px) {
    .ff-wrapper {
        display:block;
    }
}
@media only screen and (max-width:1028px) and (min-width:1020px) {
    .ff-wrapper {
        display:block;
    }
}