.ff-wrapper {
    display:grid;
    grid-template-columns:50% 50%;
    grid-template-rows:100%;
    grid-template-areas:
    "company info";
}

.a {
    grid-area:company;
    border-right:1px solid grey;
}

.b {
    grid-area:info;
    list-style-type:none;
}

ul {
    list-style-type:none;
    text-align:left;
}

li {
    padding:5px;
}

.btn-styling {
    display: list-item;
    list-style-type: none;
    padding:1.7px;
}

@media only screen and (max-width:350px), (max-width:450px) {
    .ff-wrapper {
        display:block;
    }
    .a {
        border-right:0px;
    }
}
@media only screen and (max-width:1028px) and (min-width:1020px) {
    .ff-wrapper {
        display:block;
    }

}