@import url('https://fonts.googleapis.com/css2?family=Bubblegum+Sans&display=swap');

.ff-wrapper {
    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-areas:
        "company info";
}

.food-image {
    height: 90%;
}

.drink-image {
    height: 90%;
}

.menu-titles {
    font-size: 3.0em;
    font-family: "Bubblegum Sans", cursive;
    text-decoration: underline;
    text-decoration-color: red;
}

.a {
    grid-area: company;
    border-right: 1px solid white;
}

.b {
    grid-area: info;
    list-style-type: none;
}

ul {
    list-style-type: none;
    text-align: left;
}

li {
    font-size: 1.3em;
}

.home-items {
    height: 175px;
    text-align: center;
    margin: 10px 0;
}

.home-items-desc {
    height: 175px;
    text-align: left;
    margin: 10px 0;
}

@media only screen and (max-width:350px),
(max-width:450px) {
    .ff-wrapper {
        display: block;
    }

    .a {
        border-right: 0px;
    }
}

@media only screen and (max-width:1028px) and (min-width:1020px) {
    .ff-wrapper {
        display: block;
    }
}