@import url('https://fonts.googleapis.com/css2?family=Bubblegum+Sans&display=swap');

.login-background {
    background: url("/src/assets/pexels-furknsaglam-3109671.jpg");
    background-position: center;
    background-size: cover;
    height: auto;
    min-height: 100vh;
    text-align: center;
}

.login-logo {
    color: white;
    font-size: 150px;
    text-shadow: black 2px 5px 2px;
    font-family: 'Bubblegum sans', cursive;
    padding: 30px;
}

.login-header {
    font-size: 80px;
    font-family: 'Bubblegum sans', cursive;
    padding: 5px;
    text-shadow: red 0 2px 0;
}

.login-span:hover {
    text-decoration: underline;
    cursor: pointer;
}

.error {
    color: red;
}

@media only screen and (max-width:350px),
(max-width:450px) {
    .login-logo {
        font-size: 80px;
    }

    .login-header {
        font-size: 50px;
    }
}

@media only screen and (max-width:1028px) and (min-width:1020px) {
    .login-logo {
        font-size: 70px;
    }

    .login-header {
        font-size: 40px;
    }
}