.searchbar-container {
  display: flex;
  justify-content: space-between;
  width: 20em;
  align-items: center;
}

.searchbar-input {
  height: 30px;
  width: 100%;
  margin: 0 10px;
  border-radius: 12px 0 0 12px;
  font-size: 1.3em;
  font-family: 'Times New Roman', Times, serif;
  padding-left: 5px;
}

.searchbar-button {
  background-color: red;
  color: white;
  padding: 5px 25px;
  border-radius: 0 12px 12px 0;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  cursor: pointer;
  border: 1px solid black;
}

.searchbar-button:focus {
  border-color: red;
}

.searchbar-button:hover {
  background-color: rgb(188, 0, 0);
  color: rgb(202, 202, 202);
}